<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
  </article>

    <% if @user %>
      <div class="review">
        <%= form_for [@product, @review] do |f| %>
         <div class="form-group col-sm-5">
            <%= f.label :review%>
            <%= f.text_area :description, class: "form-control"%><br />
          Rating: <%= f.select :rating, [['5 stars: Amazing product', 5],['4 stars: I liked it', 4] , ['3 stars: Met my expectations', 3], ['2 stars: not worth money', 2], ['1 star: wouldn\'t buyt it', 1]] %><br />
          <div class="butt">
           <%= f.submit 'Submit Review', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
    <% end %>


 <div class="row">
  <% @product.reviews.reverse_each do |r| %>
   <div class ="text"> User: <%= r.user.first_name %>  said <%= r.description %> and has rating <%= r.rating %>
          <% if r.user == @user %>
            <%= link_to "Delete", product_review_path(@product, r), method: :delete, data: {confirm: "Are you sure you want to delete this ?"} %>
          <% end %>
        </div>
      <% end %>
   </div>

  </article>

</section>
<%= link_to 'back', :root %>
